<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MajorCommands" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appSettings>
    <add key="AdminPassword" value="P6_H=Do_pi|p"/>
    <add key="AdminEmail" value="SA_CRMBackground_Prod@shgroup.org.uk"/>
    <add key ="CaseFetchLimit" value ="300"/>
    <add key ="CaseUpdateLimit" value ="200"/>
    <add key=""/>
  </appSettings>
  <MajorCommands>
    <add key="arrearsmanagement" value="50" />
    <add key="arrears" value="50" />
    <add key="asb" value="50" />
    <add key="blocknotification" value="50" />
    <add key="estate" value="50" />
    <add key="estatenotification" value="50" />
    <add key="feedback" value="50" />
    <add key="formertenancyenquiry" value="50" />
    <add key="gassafetymonitoring" value="50" />
    <add key="gdpr" value="50" />
    <add key="heat" value="50" />
    <add key="income" value="50" />
    <add key="leasehold" value="50" />
    <add key="legalaction" value="50" />
    <add key="lettings" value="50" />
    <add key="moving" value="400" />
    <add key="property" value="50" />
    <add key="tenancy" value="50" />
    <add key="unauthorisedoccupier" value="50" />
  </MajorCommands>
</configuration>